@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

html, body {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes logoSpin {
  0% { 
    -webkit-transform: rotate(-180deg) scale(0.3); 
    transform: rotate(-180deg) scale(0.3); 
    opacity: 0; 
  }
  100% { 
    -webkit-transform: rotate(0deg) scale(1); 
    transform: rotate(0deg) scale(1); 
    opacity: 1;
  }
}

@keyframes riseUp {
  0% { 
      -webkit-transform: translateY(50px);
      transform: translateY(50px); 
      opacity: 0;
    }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0); 
      opacity: 1;
  }
}

@keyframes letterJump {
  0% { -webkit-transform: translateY(0) scaleX(1); transform: translateY(0) scaleX(1); }
  50% { -webkit-transform: translateY(-10px) scaleX(0.85); transform: translateY(-10px) scaleX(0.85); }
  100% { -webkit-transform: translateY(0) scaleX(1); transform: translateY(0) scaleX(1); }
}

.animate-logo-spin {
    animation: logoSpin 1.0s ease-out forwards;
}

.animate-rise-up {
  animation: riseUp 0.5s ease-out forwards;
  opacity: 0;
}

.animate-text-jump {
  animation: letterJump 0.3s ease-in-out forwards;
}
