@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

html, body {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes logoSpin {
  0% { -webkit-transform: rotate(-360deg) scale(0.5); transform: rotate(-360deg) scale(0.5); opacity: 0; }
  100% { -webkit-transform: rotate(0deg) scale(1); transform: rotate(0deg) scale(1); opacity: 1; }
}

@keyframes textBounce {
  0% { -webkit-transform: translateY(-50px) scale(0.9); transform: translateY(-50px) scale(0.9); opacity: 0; }
  60% { -webkit-transform: translateY(10px) scale(1.1); transform: translateY(10px) scale(1.1); opacity: 0.7; }
  100% { -webkit-transform: translateY(0) scale(1); transform: translateY(0) scale(1); opacity: 1; }
}

@keyframes letterJump {
  0% { -webkit-transform: translateY(0) scale(1); transform: translateY(0) scale(1); }
  50% { -webkit-transform: translateY(-5px) scale(0.85); transform: translateY(-5px) scale(0.85); }
  100% { -webkit-transform: translateY(0) scale(1); transform: translateY(0) scale(1); }
}

.animate-logo-fix {
    animation: logoSpin 4.0s ease-out forwards;
}

.animate-text-load-in {
    animation: textBounce 1s ease-out forwards;
    opacity: 0; 
}

/*
.animate-text-jump {
  animation: letterJump 0.2s ease-in-out 1;
}
*/